* {
    margin: 0px;
    padding: 0px;
}
body {
    color: rgb(159, 192, 192);
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    padding: 0 16px;
    background-image: url(../recursos/noche-bosque.jpg);
    background-color: rgb(1, 0, 31);
}
header {
    position: sticky;
    top: 0px;
    background-color: rgb(20, 20, 39);
    padding: 5px;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 50px;
}
h2 {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 40px;
}
blockquote {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}
cite {
    font-size: 18px;
}
img {
    display: flex;
    flex-wrap: wrap;
}
iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    font-size: 20px;
    color: rgb(159, 192, 192);
    margin: 16px;
    padding: 5px 16px;
    background-color: rgb(1, 0, 31);
    display: flex;
    flex-wrap: wrap;
}
/* index */
.header__ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.header__contlista a {
    color: rgb(92, 126, 155);
    text-decoration: none;
}
.main__banner {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}
.main__intro {
    padding: 0 0 20px 0;
}
.minigaleria {
    display: grid;
    width: 96vw;
    height: 96vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fogata sierras ciudad-noche";
    column-gap: 15px;
}
.fogata {
    grid-area: fogata;
    background-image: url("../recursos/fogata.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.sierras {
    grid-area: sierras;
    background-image: url("../recursos/sierras.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ciudad-noche {
    grid-area: ciudad-noche;
    background-image: url("../recursos/ciudad-noche.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* contacto */
.contact-imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-imagen__imagen {
    width: 700px;
}
.contact__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(33, 33, 41);
    list-style: none;
}
.contact-redes__icono {
    width: 45px;
}
/* creepypastas */
.the-rake__multimedia {
    display: flex;
    justify-content: space-around;
}
/* inicio-sesion */
    .ingresa-mimundo {
        margin: 70px 0 0 0;
    }
    .ini-ses__correo {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .ini-ses__clave {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .ini-ses__boton {
        margin: 10px;
    }
    .sincuenta {
        text-align: center;
        margin: 80px 0 0 0;
        font-size: 40px;
    }
    .sincuenta__unete {
        margin: 0 0 70px 0;
    }
    .sincuenta__imagen {
        width: 100%;
    }
    .registro__formulario {
        margin: 100px 0 0 0;
    }
    .registro__usuario {
        margin: 0 0 55px 120px;
    }
    .registro__nombre {
        margin: 0 0 55px 250px;
    }
    .registro__apellido {
        margin: 0 0 55px 370px;
    }
    .registro__correo {
        margin: 0 0 55px 400px;
    }
    .registro__clave {
        margin: 0 0 55px 580px;
    }
    .registro__confirmar {
        margin: 0 0 55px 610px;
    }
    .registro__enviar {
        margin: 0 0 55px 1050px;
    }
    button {
        padding: 5px 25px;
        background-color: rgb(29, 29, 56);
        border: rgb(85, 143, 143);
        border-radius: 5%;
    }
/* leyendas */
.ley-arg__mapa {
    display: flex;
    justify-content: center;
}
.lobizon__img {
    margin: 20px 0;
}
.luzmala__imagen {
    width: 1000px;
    margin: 30px;
}
/* galeria-img */
.galeria__imagenes {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "niebla imagen-bosque lobizonnegro"
                        "niebla cielo-nocturno lobizonnegro"
                        "almamula cielo-nocturno puente-colgante"
                        "almamula carretera puente-colgante";
    column-gap: 15px;
    background-color: rgb(4, 7, 10);
}
.almamula {
    grid-area: almamula;
    background-image: url("../recursos/almamula.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carretera {
    grid-area: carretera;
    background-image: url("../recursos/carretera.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.lobizonnegro {
    grid-area: lobizonnegro;
    background-image: url("../recursos/lobizonnegro.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.niebla {
    grid-area: niebla;
    background-image: url("../recursos/niebla-bosque.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cielo-nocturno {
    grid-area: cielo-nocturno;
    background-image: url("../recursos/noche-bosque.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.puente-colgante {
    grid-area: puente-colgante;
    background-image: url("../recursos/puente-colgante.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.imagen-bosque {
    grid-area: imagen-bosque;
    background-image: url("../recursos/segundo-bosque.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* media querie vista celular */
@media (min-width: 320px) and (max-width: 575px) {
    /* navegacion modificada */
    header {
        height: auto;
    }
    .header__ul {
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }
    .header__nav {
        flex-direction: column;
    }
    /* galeria modificada */
    .galeria__imagenes {
        height: 200px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "niebla"
                            "imagen-bosque"
                            "lobizonnegro"
                            "niebla"
                            "cielo-nocturno"
                            "lobizonnegro"
                            "almamula"
                            "carretera"
                            "puente-colgante";
    }
    /* index modificado */
    .main__banner {
        width: 415px;
        height: 170px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main__intro {
        padding: 0 0 20px 0;
    }
    .minigaleria {
        display: grid;
        width: 96vw;
        height: 96vh;
        grid-template-columns: 1fr;
        grid-template-rows: (8, 1fr);
        grid-template-areas: "fogata"
                            "sierras"
                            "ciudad-noche";
    }
    .fogata {
        grid-area: fogata;
        background-image: url("../recursos/fogata.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sierras {
        grid-area: sierras;
        background-image: url("../recursos/sierras.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .ciudad-noche {
        grid-area: ciudad-noche;
        background-image: url("../recursos/ciudad-noche.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* inicio-sesion modificado */
    .ingresa-mimundo {
        margin: 70px 0 0 0;
    }
    .iniciarsesion {
        text-align: center;
        margin: 70px 0 0 0;
    }
    .sincuenta {
        text-align: center;
        margin: 80px 0 0 0;
        font-size: 40px;
    }
    .sincuenta__unete {
        margin: 0 0 70px 0;
    }
    .sincuenta__imagen {
        width: 100%;
    }
    .registro__formulario {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "registro__usuario"
                            "registro__nombre"
                            "registro__apellido"
                            "registro__correo"
                            "registro__clave"
                            "registro__confirmar"
                            "boton";
    }
    .registro__usuario {
        display: grid;
        grid-area: registro__usuario;
    }
    .registro__nombre {
        display: grid;
        grid-area: registro__nombre;
    }
    .registro__apellido {
        display: grid;
        grid-area: registro__apellido;
    }
    .registro__correo {
        display: grid;
        grid-area: registro__correo;
    }
    .registro__clave {
        display: grid;
        grid-area: registro__clave;
    }
    .registro__confirmar {
        display: grid;
        grid-area: registro__confirmar;
    }
    button {
        display: grid;
        grid-area: boton;
    }
    /* Contactos modificado */
    .contact-imagen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-imagen__imagen {
        width: 250px;
    }
    .contact__redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(33, 33, 41);
        list-style: none;
    }
    .contact-redes__icono {
        width: 25px;
    }
    /* footer modificado */
    footer {
        display: flex;
        font-size: 20px;
        margin: 16px;
        padding: 5px 16px;
        flex-wrap: wrap;
    }
}
/* media querie vista tablet */
@media (min-width: 576px) and (max-width: 992px) {
    /* galeria modificada tablet */
    .galeria__imagenes {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "niebla imagen-bosque lobizonnegro"
                            "niebla cielo-nocturno lobizonnegro"
                            "almamula carretera puente-colgante";
    }
    /* index modificado */
    .main__banner {
        width: 715px;
        height: 450px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main__intro {
        padding: 0 0 20px 0;
    }
    .minigaleria {
        display: grid;
        width: 96vw;
        height: 96vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "fogata sierras ciudad-noche";
    }
    .fogata {
        grid-area: fogata;
        background-image: url("../recursos/fogata.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sierras {
        grid-area: sierras;
        background-image: url("../recursos/sierras.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .ciudad-noche {
        grid-area: ciudad-noche;
        background-image: url("../recursos/ciudad-noche.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* galeria modificada tablet */
    footer {
        display: flex;
        font-size: 15px;
        margin: 16px;
        padding: 5px 16px;
    }
}