/* Header: */
header {
    position: sticky;
    top: 0px;
    background-color: rgb(20, 20, 39);
    &__contlista a {
        color: rgb(92, 126, 155);
        margin: 0 25px;
    }
    &__contlista:hover {
        transform: scale(1.15, 1.15);
        transition: all 0.5s;
    }
}
a:visited {
    color: rgb(128, 0, 255);
}