/* media querie vista celular */
@media (min-width: 320px) and (max-width: 575px) {
    /* selectores */
    h1 {
        font-family: 'Berkshire Swash', cursive;
        text-align: center;
        padding: 40px 0;
        font-size: 35px;
    }
    h2 {
        text-align: center;
        padding: 40px 0;
        font-size: 25px;
    }
    body {
        font-size: 20px;
        padding: 10px 16px;
    }
    blockquote {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
    }
    /* index modificado */
    .main__banner {
        height: 55vh;
        padding: 20px 0 0 0;
    }
    .minigaleria {
        height: auto;
        width: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "galeria__sierras"
                            "fogataencendida"
                            "ciudad-de-noche";
    }
    .galeria__sierras {
        grid-area: galeria__sierras;
        height: 90vh;
        width: 90vw;
        background-size: cover;
    }
    .fogataencendida {
        grid-area: fogataencendida;
        height: 90vh;
        width: 90vw;
        background-size: contain;
    }
    .ciudad-de-noche {
        grid-area: ciudad-de-noche;
        height: 90vh;
        width: 90vw;
        background-size: contain;
    }
    /* inicio-sesion modificado */
    .ingresa-mimundo {
        margin: 70px 0 0 0;
    }
    .ini-ses__titulo {
        font-size: 35px;
    }
    .iniciarsesion {
        text-align: center;
        margin: 70px 0 0 0;
    }
    .ini-ses__correo {
        display: flex;
        flex-wrap: wrap;
        grid-area: ini-ses__correo;
    }
    .ini-ses__clave {
        grid-area: ini-ses__clave;
        display: flex;
        flex-wrap: wrap;
    }
    .sincuenta {
        text-align: center;
        margin: 80px 0 0 0;
        font-size: 40px;
    }
    .sincuenta__unete {
        margin: 0 0 70px 0;
    }
    .sincuenta__imagen {
        width: 100%;
    }
    .registro__formulario {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 0 25px;
    }
    .boton {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 40px 0 0;
    }
    /* Contactos modificado */
    .contact-imagen__imagen {
        height: 40vh;
        width: 90vw;
        padding: 20px 0 0 0;
    }
    .contact__redes--caja {
        display: flex;
        justify-content: center;
    }
    .contact__redes {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }
    .contact-redes__icono {
        display: flex;
        flex-wrap: wrap;
        width: 45px;
        margin: 10px;
    }
    /* leyendas modificada: celular */
    .lobizon__texto {
        font-size: 20px;
    }
    .lobizon__img {
        margin: 20px 0;
        height: 90vh;
        width: 90vw;
    }
    .luzmala__imagen--caja {
        display: flex;
        justify-content: center;
    }
    .luzmala__imagen {
        height: 30vh;
        width: 80vw;
    }
    /* Creepypastas... */
    .herobrine__cel-img {
        display: flex;
        height: 27vh;
        justify-content: center;
    }
    .the-rake__video {
        height: 37vh;
        width: 200vw;
    }
    /* Galeria modificada */
    .galeria__img--celular {
        height: 400px;
    }
    /* footer modificado */
    footer {
        display: flex;
        font-size: 20px;
        margin: 16px;
        padding: 5px 16px;
        flex-wrap: wrap;
    }
}
/* media querie vista tablet */
@media (min-width: 576px) and (max-width: 992px) {
    /* galeria modificada tablet (borrada porque ya tengo el bootstrap que es responsive) */
    /* index modificado */
    .main__banner {
        height: 90vh;
    }
    .main__intro {
        padding: 0 0 20px 0;
    }
    .minigaleria {
        display: grid;
        width: 96vw;
        height: 96vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "fogata sierras ciudad-noche";
    }
    .fogata {
        grid-area: fogata;
        background-image: url("../recursos/fogata.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sierras {
        grid-area: sierras;
        background-image: url("../recursos/sierras.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .ciudad-noche {
        grid-area: ciudad-noche;
        background-image: url("../recursos/ciudad-noche.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* footer */
    footer {
        display: flex;
        margin: 16px;
        padding: 5px 16px;
        font-size: 20px;
    }
}