/* COLORES */
$color-principal: rgb(12, 11, 26);
$color-texto: rgb(159, 192, 192);
/* FUENTE */
$fuente-dancing: 'Dancing Script', cursive;
/* TAMAÑOS FUENTE */
$tama-texto: 25px;
$tama-titulo: $tama-texto * 2;