@import "header";
@import "paginas/contacto";
@import "paginas/creepypastas";
@import "paginas/galeria";
@import "paginas/inicio-sesion";
@import "paginas/leyendas";
@import "variables";
@import "operadores";
* {
    margin: 0px;
    padding: 0px;
}
body {
    color: $color-texto;
    font-family: 'Dancing Script', cursive;
    font-size: $tama-texto;
    padding: 0 16px;
    background-image: url(../recursos/noche-bosque.jpg);
    background-color: rgb(1, 0, 31);
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: $tama-titulo;
}
h2 {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 40px;
}
blockquote {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}
cite {
    font-size: 18px;
}
img {
    display: flex;
    flex-wrap: wrap;
}
iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button {
    padding: 5px 25px;
    background-color: rgb(29, 29, 56);
    border: $color-texto;
    border-radius: 5%;
    font-family: 'Dancing Script', cursive;
}
footer {
    font-size: 20px;
    color: $color-texto;
    margin: 16px;
    padding: 5px 16px;
    background-color: $color-principal;
    display: flex;
    flex-wrap: wrap;
}
/* index */
.main__banner {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}
.main__intro {
    padding: 0 0 20px 0;
}
.minigaleria {
    display: grid;
    width: 96vw;
    height: 96vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fogata sierras ciudad-noche";
    column-gap: 15px;
}
.fogata {
    @extend .background-minigaleria;
    grid-area: fogata;
    background-image: url("../recursos/fogata.jpg");
}
.sierras {
    @extend .background-minigaleria;
    grid-area: sierras;
    background-image: url("../recursos/sierras.jpg");
}
.ciudad-noche {
    @extend .background-minigaleria;
    grid-area: ciudad-noche;
    background-image: url("../recursos/ciudad-noche.jpg");
}
@import "medias";