/* contacto */
.contact-imagen {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
.contact-imagen__imagen {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 800px;
}
.contact__redes--caja {
    display: flex;
    justify-content: center;
}
.contact__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(33, 33, 41);
    list-style: none;
    flex-wrap: wrap;
    padding: 10px 0;
}
.contact-redes__icono {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
}