/* leyendas */
.ley-arg__mapa {
    display: flex;
    justify-content: center;
}
.lobizon__img {
    margin: 20px 0;
}
.inframe__lobizon--caja {
    display: flex;
    justify-content: center;
}
.luzmala__imagen {
    width: 700px;
    margin: 30px;
}
.luzmala__imagen--caja {
    display: flex;
    justify-content: center;
}